.footer {
  padding: 30px 0 35px;
  background-color: $dark-gray-100;
  color: $white;

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    color: $light-gray-100;

    .menu-item {
      margin-left: 40px;
      margin-bottom: 0;

      &:first-child {
        margin-left: 0;
      }
    }

    &-link {
      display: inline-block;
      color: inherit;
      transition: .35s;

      &:hover,
      &:focus {
        color: $white;
      }
    }
  }

  .right-bar {
    .link-right-bar {
      display: inline-block;
      position: relative;
      padding-left: 30px;
      margin-left: 28px;
      transition: .35s;

      &:hover,
      &:focus {
        text-decoration: underline;
        transition: .35s;
      }
    }

    .icon-link {
      position: absolute;
      width: 24px;
      height: 24px;
      left: 0;
      top: 2px;
      z-index: 1;
    }
  }
}

@media all and(max-width: 1200px) {
  .footer {
    .footer-nav {
      width: 60%;
    }

    .menu {
      width: 100%;
      justify-content: flex-end;
    }

    .right-bar {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-bottom: 20px;
    }
  }
}

@media all and(max-width: 991px) {
  .footer {
    .container {
      align-items: flex-start;
    }

    .link-right-bar {
      margin-bottom: 10px;
    }
  }
}

@media all and(max-width: 480px) {
  .footer {
    .container {
      align-items: flex-start;
      flex-wrap: wrap;
    }

    .info-box,
    .footer-nav {
      width: 100%;
      text-align: center;
    }

    .info-box {
      margin: 0 auto 30px;
    }

    .right-bar {
      width: 100%;
    }

    .right-bar,
    .menu {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .menu .menu-item,
    .right-bar .link-right-bar {
      margin-left: 0;
      margin-bottom: 10px;
    }
  }
}