.burger {
  display: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;

  .line {
    display: block;
    width: 100%;
    background-color: $white;
    height: 3px;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


.header {
  padding: 25px 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  color: #ffffff;


  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container:before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    content: '';
    background-color: #9edc3c;
    height: 1px;

  }

  .right-bar {
    &__link {
      display: inline-block;
      position: relative;
      padding-left: 30px;
      margin-left: 28px;
      transition: .35s;
      &:hover,
      &:focus{
        text-decoration: underline;
      }
    }
    .icon-link {
      position: absolute;
      width: 24px;
      height: 24px;
      left: 0;
      top: 2px;
      z-index: 1;
    }
  }
}


@media all and (max-width: 1200px) {
  .header {
    padding: 25px 0;

    .container:before {
      bottom: -26px;
    }

    .burger {
      display: block !important;
    }
  }
}

@media all and (max-width: 767px) {
  .header{
    padding-top: 15px;
    padding-bottom: 15px;
    .container:before{
      bottom: -15px;
    }
  }
}
