.section-presentation {
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 550px;
  padding-top: 55px;
  color: $white;

  .section-title {
    flex-shrink: 0;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .wrap-img {
    width: 66%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .block-text-content {
    width: 34%;
    padding: 40px 35px;
  }

  .text {
    line-height: 1.5;
    margin-bottom: 35px;
  }
}

@media all and(max-width: 1200px) {
  .section-presentation {
    padding-bottom: 30px;

    .wrap-img,
    .block-text-content {
      width: 100%;
    }

    .block-text-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-top: -100px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .text {
      width: 50%;
      margin-bottom: 0;
      margin-right: 20px;
    }
  }
}

@media all and(max-width: 767px) {
  .section-presentation {
    .wrap-btn{
      margin: 0 auto;
    }
    .section-title{
      width: 90%;
    }
    .block-text-content{
      margin-top: -50px;
    }
    .text{
      width: 100%;
      text-align: center;
      margin-right: 0;
      margin-bottom: 30px;
      flex-shrink: 0;
    }
  }
}