.section-delivery-notification {
  padding-top: 50px;

  .section-title {
    margin-bottom: 25px;
  }

  .sub-title {
    max-width: 690px;
    margin: 0 auto 60px;
    color: $light-gray-200;
    text-align: center;
    line-height: 1.55;
  }

  .home-slider {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .item {
    flex: 1 1 100px;
  }

  .wrap-img-phone {
    position: relative;
    width: 80%;
    max-width: 340px;
    overflow: hidden;
    margin: 0 auto;
  }

  .img-phone {
    display: block;
    width: 100%;
    max-width: none;
  }

  .item .img-content-phone {
    position: absolute;
    left: 1%;
    top: 0;
    width: 95%;
    height: auto;
    display: block;
    z-index: -1;
    border-radius: 40px;
    object-fit: cover;
  }
}

@media all and (max-width: 1080px) {
  .section-delivery-notification {
    .wrap-img-phone{
      //max-width: 280px;
    }
  }
}