.section-delivery-notification {
  padding-top: 50px;

  .section-title {
    margin-bottom: 25px;
  }

  .sub-title {
    max-width: 690px;
    margin: 0 auto 60px;
    color: $light-gray-200;
    text-align: center;
    line-height: 1.55;
  }
}
//===========================
.section{
  .section-title{
    letter-spacing: -0.89px;
  }
}
//.container-diamond{
//  padding-left: 100px;
//}
//
//.diamond {
//  width: 250px;
//  height: 250px;
//  background: #1eff00;
//  /* Rotate */
//  -webkit-transform: rotate(-45deg);
//  -moz-transform: rotate(-45deg);
//  -ms-transform: rotate(-45deg);
//  -o-transform: rotate(-45deg);
//  transform: rotate(-45deg);
//  /* Rotate Origin */
//  -webkit-transform-origin: 0 100%;
//  -moz-transform-origin: 0 100%;
//  -ms-transform-origin: 0 100%;
//  -o-transform-origin: 0 100%;
//  transform-origin: 0 100%;
//  margin: 60px 0 10px 310px;
//  border-radius: 20px;
//  position: relative;
//  overflow: hidden;
//  margin-bottom: -60px;
//  margin-left: -20px;
//  display: inline-block;
//}
//
//.diamond:nth-child(1){
//  margin-left: 0;
//}
//
//.diamond::after{
//  content: "";
//  width: 160px;
//  height: 160px;
//  position: absolute;
//  top:50%;
//  left: 50%;
//  margin-left: -80px;
//  margin-top: -80px;
//  background: inherit;
//  /* Rotate */
//  -webkit-transform: rotate(45deg);
//  -moz-transform: rotate(45deg);
//  -ms-transform: rotate(45deg);
//  -o-transform: rotate(45deg);
//  transform: rotate(45deg);
//}
//
//#diamond-1{
//  background: url(http://imcreativebythesea.com/demos/css-diamonds/imgs/photo-1414490929659-9a12b7e31907.jpg);
//  background-size: cover;
//  background-position: center center;
//}
//#diamond-2{
//  background: url(http://imcreativebythesea.com/demos/css-diamonds/imgs/photo-1416339442236-8ceb164046f8.jpg);
//  background-size: cover;
//  background-position: center center;
//}
//#diamond-3{
//  background: url(http://imcreativebythesea.com/demos/css-diamonds/imgs/photo-1416431168657-a6c4184348ab.jpg);
//  background-size: cover;
//  background-position: center center;
//}
//#diamond-4{
//  background: url(http://imcreativebythesea.com/demos/css-diamonds/imgs/NxxLccbqQdGtNc7xJ43e_ancestral-home.jpg);
//  background-size: cover;
//  background-position: center center;
//}
//
//#diamond-3{
//  background: url(http://imcreativebythesea.com/demos/css-diamonds/imgs/photo-1416431168657-a6c4184348ab.jpg);
//  background-size: cover;
//  background-position: center center;
//}
//
//.one-edge-shadow {
//  -webkit-box-shadow: 0px -8px 4px -6px rgba(0, 0, 0, 0.6);
//  -moz-box-shadow: 0px -8px 4px -6px rgba(0, 0, 0, 0.6);
//  box-shadow: 0px -8px 4px -6px rgba(0, 0, 0, 0.6);
//}