.section-functional {
  background-color: $off-white;
  padding: 60px 0 50px;

  .card {
    text-align: center;
    line-height: 1.55;
    color: $dark-gray;

    &__bg-img {
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: 80%;
      background-size: 80%;
      min-height: 310px;
    }
  }

  .card-list__item {
    margin-bottom: 45px;

    &:nth-child(6) {
      .card__bg-img {
        -webkit-background-size: 92%;
        background-size: 92%;
      }
    }
  }
}

@media all and(max-width: 991px) {
  .section-functional {
    .card-list {
      justify-content: center;
    }

    .card-list__item {
      width: 45%;
    }

    .card__bg-img {
      -webkit-background-size: 63%;
      background-size: 63%;
    }

    .card-list__item {
      &:nth-child(6) {
        .card__bg-img {
          -webkit-background-size: 72%;
          background-size: 72%;
        }
      }
    }
  }
}

@media all and(max-width: 768px) {
  .section-functional {
    .card-list__item {
      width: 50%;
    }

    .card__bg-img {
      min-height: 250px;
      margin-bottom: 20px;
    }
  }
}

@media all and(max-width: 580px) {
  .section-functional {
    .card-list__item {
      width: 90%;
      margin: 0 auto 45px;

      &:nth-child(6) {
        .card__bg-img {
          -webkit-background-size: 52%;
          background-size: 52%;
        }
      }
    }

    .card-list__item {
      width: 100%;

    }

    .card__bg-img {
      margin-bottom: 10px;
      -webkit-background-size: 45%;
      background-size: 45%;
      min-height: 220px;
    }
  }
}

@media all and(max-width: 480px) {
  .section-functional {
    .card-list__item {
      width: 100%;

      &:nth-child(6) {
        .card__bg-img {
          -webkit-background-size: 50%;
          background-size: 50%;
        }
      }
    }

    .card__bg-img {
      -webkit-background-size: 39%;
      background-size: 39%;
      min-height: 190px;
    }
  }
}

@media all and(max-width: 380px) {
  .card-list__item{
    .text {
      line-height: 1.25;
    }
  }
  .card .card__bg-img{
    background-size: 44%;
    min-height: 140px;
  }
}