.section-delivery-notification {
  padding-top: 50px;

  .section-title {
    margin-bottom: 25px;
  }

  .sub-title {
    max-width: 690px;
    margin: 0 auto 60px;
    color: $light-gray-200;
    text-align: center;
    line-height: 1.55;
  }
}