/*
* Fonts
*/
$primary-font:"Proxima Nova",sans-serif;
$secondary-font: "Geogrotesque Cyr", sans-serif;

/*
* Colors
*/

$primary-color: #6dc82d;
$light-green: #78c440;
$light-green-100: #a0c544;
$green:#52ab62;
$white: #fff;
$off-white:#fafafa;
$black: #191919;
$light-gray: #838383;
$light-gray-100: #909090;
$light-gray-200: #848484;
$dark-gray: #3d3d3d;
$dark-gray-100: #333333;

/*
* Breakpoints
*/

$xs: '(max-width: 580px)';
$sm: '(max-width: 767px)';
$md: '(max-width: 991px)';
$lg: '(max-width: 1250)';

